:root{
--color-primary: #2584ff;
--color-secondary: #00d9ff;
--color-acccent: #ff3400;
--color-heading: #1b0760;
--color-body: #918ca4;
--color-dark-background: #232323;
}

/* Typography*/

html {
    /* 62.5% of 16px = 10px*/
    font-size: 62.5%;
}

body {
    color: var(--color-body);
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
}

h1,
h2,
h3 {
    color: var(--color-heading);
    margin-bottom: 20px;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;

}

h3 {
    font-size: 2.4rem;

}

p {
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    h1 {

    }
    
    h2 {
    
    }
    
    h3 {
    
    }
}


@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 8rem;
    }
    
    h2 {
    
    }
    
    h3 {
        font-size: 3rem;
    
    }
}
/* General */
.container {
    max-width: 900px;
    margin: 0 auto;
    
}

.grid {
    display: grid;
}
@media screen and (min-width: 768px) {
    .grid-1x2 {
        grid-template-columns: repeat(2,1fr);       
    }
}
/* Header */
.page-header {
    background: var(--color-dark-background);
    color: #fff;
    min-height: 100px;
    align-items: center;
}

.logo {
    padding: 5px;
}

.mainmenu { 
    padding-right: 20px;
}
.menu {
    display: flex;
    justify-content: flex-end;
}

.menu-item {
    list-style-type: none;
    padding: 5px 10px;
}

.menu-item > a {
    color: #fff;
    opacity: .6;
    text-decoration: none;
    transition: opacity .3s;
}

.menu-item > a:hover {
    opacity: 1;
}
/* Footer */

.page-footer {
    background: var(--color-dark-background);
    color: #fff;
    padding: 20px;
}

.copyright {
    opacity: .5;
}